{% extends "base.html" %}
{% block content%}
<div class="panel panel-default">
    <div class="panel-heading">Appointment Details</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">Appointment with: <span id="faculty"></span></br>Location: <span id="location"></span>
            </div>
            <div class="col-lg-6">Date: <span id="date"></span><br>Time: <span id="time"></span></div>
        </div>
    </div>
</div>
<form id='dform' class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Your Details</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="fname">First Name</label>
            <div class="col-md-4">
                <input id="fname" name="fname" placeholder="" class="form-control input-md" required type="text">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="lname">Last Name</label>
            <div class="col-md-4">
                <input id="lname" name="lname" placeholder="" class="form-control input-md" required type="text">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" name="email" placeholder="" class="form-control input-md" required type="email">
            </div>
        </div>
        <legend>Agenda of Meeting</legend>
        <!-- Multiple Radios -->
        {% for a in ag %}
        <div class="form-group">
            <label class="col-md-4 control-label" for="agenda">{{a['type']}}</label>
            <div class="col-md-4">
                {% set rowloop = loop %}
                {% for l in a['list']%}
                <div class="radio">
                    <label><input name="agenda" id="{{l[0]}}" value="{{l[0]}}" type="radio" {% if rowloop.first and
                                  loop.first %}checked="checked" {%endif%}>{{l[1]}}</input></label>
                </div>
                {% endfor %}
            </div>

        </div>
        {% endfor %}
        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="comments">Comments:</label>
            <div class="col-md-4">
                <textarea class="form-control" id="comments" name="comments"></textarea>
            </div>
        </div>
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit" name="submit" type="button" class="btn btn-info">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stevens Appointments</h4>
            </div>
            <div class="modal-body">
                <p>Thank you for scheduling an appointment.</p>
                <p>You will receive a confirmation email as soon as the professor accepts your request.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info center-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stevens Appointments</h4>
            </div>
            <div class="modal-body">
                <p>The Date and Time you selected is not available for booking.</p>
                <p>Kindly select another time slot or date.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info center-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}