<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stevens Appointments</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="../static/css/dataTables.bootstrap.min.css">
    <script src="../static/js/moment.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/jquery.validate.min.js"></script>
    <script src="../static/js/jquery.dataTables.min.js"></script>
    <script src="../static/js/dataTables.bootstrap.min.js"></script>
    <script src="../static/js/datetime.js"></script>
    <style>
    </style>
</head>
<body>
<div class='container'>
    <div class="row">
        <div class="col-lg-6">
            <a href="/">
                <img src="../static/images/stevenslogo2.png" class="img-responsive pull-left" width="250">
            </a>
        </div>
        <div class="col-lg-6">
            {%if js=="homepage.js"%}
            <br>
            <p>
                <button id='lgbtn' class='btn btn-info pull-right'>Login</button>
            </p>
            {%endif%}
            {%if js=="dashboard.js"%}
            <br>
            <p>
                <button id='lgobtn' class='btn btn-info pull-right'>Logout</button>
            </p>
            <br><br>
            <p class="text-right"><label id="loggeduser" class="label label-default"></label></p>
            {%endif%}
        </div>
    </div>
    <hr>
    {%block content%}{%endblock content%}
    <!-- Footer -->
    <div class='panel panel-success'>
        <div class="panel-body text-center">
            <span style='text-align:center'>By,</span>
            <br>
            <span style="text-align:center">Kanhaiyya, Sneha, Swathi</span>
        </div>
    </div>
</div>
<script src="../static/js/{{js}}"></script>
</body>

</html>