{% extends "base.html"%}
{% block content%}
{%if user=='admin'%}
<div class="row">
    <div class="col-lg-12">
        <button id="adduserbtn" class="btn btn-info" type="button">Add User</button>
        <button id="adddeptbtn" class="btn btn-info" type="button">Add Department</button>
        <button id="addagbtn" class="btn btn-info" type="button">Add Agenda</button>
    </div>
</div>
<br>

<div class="modal fade" id="addUserModal" role="dialog">
    <div class="modal-dialog" style="">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">

                <form id="userform" class="form-horizontal">
                    <fieldset>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="uname">Name: </label>
                            <div class="col-md-4">
                                <input id="uname" name="uname" placeholder="" class="form-control input-md" type="text">

                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="selectdept">Select Department: </label>
                            <div class="col-md-4">
                                <select id="selectdept" name="selectdept" class="form-control">
                                    {% for d in dept %}
                                    <option value="{{d['id']}}">{{d['name']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="designation">Designation: </label>
                            <div class="col-md-4">
                                <input id="designation" name="designation" placeholder="" class="form-control input-md"
                                       type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="location">Location</label>
                            <div class="col-md-4">
                                <input id="location" name="location" placeholder="" class="form-control input-md"
                                       type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="phone">Phone: </label>
                            <div class="col-md-4">
                                <input id="phone" name="phone" placeholder="" class="form-control input-md" type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="fax">Fax:</label>
                            <div class="col-md-4">
                                <input id="fax" name="fax" placeholder="" class="form-control input-md" type="text">

                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">Email:</label>
                            <div class="col-md-4">
                                <input id="email" name="email" placeholder="" class="form-control input-md" type="text">

                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="loginid">Login ID</label>
                            <div class="col-md-4">
                                <input id="loginid" name="loginid" placeholder="" class="form-control input-md"
                                       type="text">

                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="password">Password: </label>
                            <div class="col-md-4">
                                <input id="password" name="password" placeholder="" class="form-control input-md"
                                       type="password">

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="center-block">
                                <button id="adduser" name="adduser" class="btn btn-info center-block" type="button">
                                    Add
                                </button>
                            </div>
                        </div>

                    </fieldset>
                </form>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDeptModal" role="dialog">
    <div class="modal-dialog" style="">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">
                <form id="deptform" class="form-horizontal">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="deptname">Department Name</label>
                            <div class="col-md-4">
                                <input id="deptname" name="deptname" placeholder="" class="form-control input-md"
                                       type="text">
                                <label id="deptexists" class="control-label">Department Exists</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="center-block">
                                <button id="adddept" name="adddept" class="btn btn-info center-block" type="button">
                                    Add
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addAgModal" role="dialog">
    <div class="modal-dialog" style="">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Agenda</h4>
            </div>
            <div class="modal-body">
                <form id="agform" class="form-horizontal">
                    <fieldset>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="agtype">Type</label>
                            <div class="col-md-4">
                                <input id="agtype" name="agtype" placeholder=""
                                       class="form-control input-md" type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="agname">Name</label>
                            <div class="col-md-4">
                                <input id="agname" name="agname" placeholder="" class="form-control input-md"
                                       type="text">

                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="add"></label>
                            <div class="col-md-4">
                                <button id="addag" name="addag" class="btn btn-info" type="button">Add</button>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
{% endif %}
<table id="appointmentsdata" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Faculty Name</th>
        <th>Applicant Name</th>
        <th>Applicant Email</th>
        <th>Agenda</th>
        <th>Comments</th>
        <th>Status</th>
        <th>Scheduled</th>
        <th>Action</th>
    </tr>
    </thead>
</table>

{% endblock content%}
