{% extends "base.html"%}
{% block content%}

<form class="">
    <fieldset>
        <legend>Select Date & Time</legend>
        <div class="col-lg-4 col-lg-offset-4 form-group date">
            <input id="sdate" type="text" readonly class="form-control text-center"/>
        </div>
        <div class="form-group col-lg-6 col-lg-offset-3">
            <div id="example"></div>
        </div>
        <div class="form-group col-lg-1  col-lg-offset-5">
            <button id="next" name="next" class="btn btn-info" type="button">Next</button>
        </div>
    </fieldset>
</form>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stevens Appointments</h4>
            </div>
            <div class="modal-body">
                <p>The Date and Time you selected is not available for booking.</p>
                <p>Kindly select another time slot or date.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info center-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock content%}