{% extends "base.html" %}
{% block content %}
<form class="form">

    <!-- Form Name -->
    <legend>Select a Department & Faculty</legend>
    <!-- Multiple Radios -->
    <div class="row">
        <div class="form-group">
            <div id="departments" class="col-lg-6">
                {% for dept in d%}
                <div class="radio">
                    <label for="dept-{{loop.index0}}">
                        <input name="dept" id="dept-{{loop.index0}}" value="{{loop.index0}}" {% if loop.first %}
                               checked="checked" {% endif %} type="radio">
                        {{dept['name']}}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-lg-4">
                <select id="selectfaculty" class="form-control" style=""></select>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-group">
            <div class="col-lg-4">
                <button id="next" name="next" class="btn btn-info" type="button">Next</button>
            </div>
        </div>
    </div>
    <br>

</form>
<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog" style="max-width:350px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login to Stevens Appointments</h4>
            </div>
            <div class="modal-body">
                <form class="form" id="loginform">
                    <div class="form-group">
                        <label class="control-label" for="loginind">Login ID</label>
                        <input id="loginind" name="loginind" placeholder="" class="form-control input-md" required
                               type="text">
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input id="password" name="password" placeholder="" class="form-control input-md" required
                               type="password">
                        <label id="incorrect" class="control-label">Login Incorrect</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info center-block" id="login" type="button">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}